p {

    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;

}

.video-title {

    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 2px;

}

.video-stats {

    font-size: 14px;
    color: #606060;
    margin-bottom: 16px;

}

.video-creator {

    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;

}

.video-description {

    font-size: 14px;
    color: #606060;
    width: 280px;
    margin-bottom: 2px;
    line-height: 22px;
    margin-bottom: 100px;

}
.apple-text {
    text-align: center;
    background-color: #e34140;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
.shop-link {
    cursor: pointer;
}
.shop-link:hover {
    text-decoration: underline;
}