body {
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
}

/* Styling image and text */

.image {
    width: 100%;
    /* max-width: 400px; */
   
}

p {

    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;

}