body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 100px;
    margin-right: 10px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.move-button:hover {
    background-color: rgba(0,0,0,0.5);
}

.result {
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
}